.contenido {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin: 0 auto;
  gap: 10px;
}

.contenedor-proyectos {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.datos-proyecto {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-between;
  padding: 3px;
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.descripcion {
  text-align: justify;
  font-size: 10px;
  margin: 0;
}

.titulo-edicion {
  display: flex;
  align-items: center;
}

.fecha-precio {
  display: flex;
  flex-direction: row;
  /* border: 1px solid red; */
  align-items: center;
}

.titulo {
  /* font-weight: bold;
  justify-self: center; */
  font-size: 14px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  padding-top: 12px;
  padding-bottom: 12px;
}

.fecha-horario {
  display: flex;
  justify-content: space-between;
}

.price {
  color: black;
  font-weight: bold;
  font-size: 14px;
}

.categorias-proyecto {
  display: flex;
  gap: 5px;
  padding: 3px;
  align-items: center;
  justify-content: flex-start;
}

.categorias-proyecto p {
  background-color: #3a7fff;
  border-radius: 10px;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  color: #ffffff;
  margin-bottom: 0px;
}

.precio-proyecto {
  color: #41b141;
  font-weight: bold;
  font-size: 14px;
}

.basura {
  width: 15px;
  height: 15px;
}

.lapiz {
  width: 15px;
  height: 15px;
}

.boton-agregar {
  align-self: flex-start;
  position: relative;
}

.agregar-proyecto-text {
  color: black;
}

.agregar-proyecto-contenedor {
  position: absolute;
  left: 40px;
  background-color: #64b6ac;
  padding: 3px;
  width: max-content;
  display: none;
}

.boton-agregar:hover .agregar-proyecto-contenedor {
  display: block;
}

.agregar {
  width: 30px;
  height: 30px;
}
