.contenedor-gral {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.titulo-pagina {
  font-size: 22px;
  font-weight: 600;
  background-color: hsl(200, 15%, 33%);
  color: whitesmoke;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-align: center;
  min-width: 375px;
}

.contenido {
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 375px;
  align-items: center;
}

.input-small {
  height: 20px;
  font-size: 15px;
}

.input {
  height: 200px;
  font-size: 15px;
}

label {
  font-size: 16px;
}

.item-form {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
}

.item-form label {
  font-weight: bold;
}

/* .prec {
  align-self: flex-start;
  margin-left: 20%;
  width: 100px;
} */

.categorias-check {
  display: grid;
  margin-left: 20%;

}

.categorias-nombre {
  font-size: 16px;
}

.botones {
  display: flex;
  margin-top: 20px;

  flex-direction: row;
}

.guardar-boton {
  background-color: rgb(72, 163, 72);
  font-family: "Roboto";

  width: 105px;
  height: 35px;
  font-size: 13px;
}

.boton-cancelar {
  background-color: rgb(212, 32, 32);
  font-family: "Roboto";
  font-size: 13px;
  width: 105px;
  height: 35px;
}

.checkbox {
  align-self: center;
}

.checkbox-item {
  display: flex;
  align-content: center;
  gap: 20px;
}

.label-checkbox {
  width: 110px;
  display: flex;
  flex-direction: row;
  width: 100%;
}