/*Tamaño de los textos*/
label,
input,
button {
  font-size: 14px;
}

.imagen-perfil {
  position: absolute;
  width: 150px;
  height: 200px;
  top: 20px;
  right: 20px;
}

.contenedor-datos {
  /* border: 1px solid purple; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.input-titulo {
  font-weight: 600;
  font-size: 15px;
}

.input-div {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.input-label {
  width: 100%;
  text-align: right;
  padding: 6px;
}

.boton-registrar {
  width: auto;
  padding: 6px;
  border-radius: 6px;
  border: none;
  margin-top: 14px;
  margin-bottom: 14px;
  background-color: #3a7fff;
  color: #ffffff;

}


@media (min-width: 481px) {
  .contenedor-imagen {
    margin-left: 8%;
  }

  .input-imagen-usuario {
    margin-left: 32%;
  }
}

@media (min-width: 1024px) {
  .input-imagen-usuario {
    margin-left: 36%;
  }
}

@media (min-width: 1440px) {
  .input-imagen-usuario {
    margin-left: 40%;
  }
}

@media (min-width: 1920px) {
  .input-imagen-usuario {
    margin-left: 42.8%;
  }
}