* {
  margin: 0;
  font-family: "BhuTuka Expanded One", cursive;
  font-family: "Karla", sans-serif;
  font-family: "Roboto", sans-serif;
}

p {
  margin: 0;
  font-size: 10px;
}

.hipervinculo {
  text-decoration: none;
  color: black;
}

.hipervinculo:hover {
  color: black;
}

/* I - recomendados */
/*Contenedor gral*/
.recomendados {
  display: flex;
  flex-direction: column;
}

/*Contenedor de carrousel*/
.lista-recomendados {
  display: flex;
  list-style: none;
  font-size: 10px;
  padding: 5px;
  gap: 8px;
  overflow-x: scroll;
  /* height: 130px; */
}

.recomendado-titulo {
  padding: 5px;
  text-align: center;
  background-color: #425158;
  font-size: 14px;
  color: white;
}

/* F - Recomendados*/


/* I -  Cuerpo */
.contenido-principal {
  display: flex;
  margin-top: 15px;
}

/*Lista de publicaciones / resultado de la busqueda*/
.buscador-buscados {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 5px;
  gap: 5px;

}

/*F - Cuerpo*/


/* I - Parametros  */

.filtrado {
  display: none;
  /* display: flex; */
  flex-direction: column;
  font-size: 12px;
  gap: 10px;
  margin-left: 5px;
  margin-top: 10px;

}

/*Precio*/
.filtrado-precio {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 250px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: white;
  align-items: center;
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.filtrado-precio p:first-child {
  width: 100px;
  text-align: center;
  font-weight: bold;
}

.input-precio {
  width: 100px;
  height: 20px;
  font-size: 12px;
}

.filtrado-precio p {
  margin-left: 3px;
  margin-right: 3px;
}

.filtrado-input-precio {
  display: flex;
}

/*Categoría */
.filtrado-categoria {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-right: 10px;
  width: 250px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: white;
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.filtrado-categoria p {
  align-self: center;
  margin-left: 3px;
  margin-right: 3px;

}

.filtrado-categoria p:first-child {
  width: 95px;
  text-align: center;
  font-weight: bold;

}

.filtrado-checkbox-categoria {
  display: flex;
  flex-direction: column;
}

.categoria-scroll {
  height: 88px;
  /* width: 120px;  lo comento asi se agranda solo*/
  overflow-y: scroll;
  margin-left: 1px;
}

.label-checkbox {
  display: flex;
  gap: 3px;
  /* border: blue solid; */

}

.label-checkbox input {
  /*No entiendo que hace esto*/
  margin-top: 1.7px;

}

.categorias-descripcion {

  font-size: 14px;
}

/*F- Parametros*/

/*
.tarjeta {
  display: flex;
  gap: 5px;
  
}*/





.boton-cancel {
  /*Esto creo que no se usa aca*/

  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}




/* 
.dropdown-item {
  font-weight: bold;
}

.dropdown {
  position: relative;
  height: 30px;
  display: flex;
  align-items: center;
} */







/* border: 1px solid blue;*/
/* I Boton de agregar proyecto*/

.boton-agregar {
  align-self: flex-start;
  position: relative;
}

.agregar-proyecto-text {
  color: black;
}

.agregar-proyecto-contenedor {
  position: absolute;
  left: 40px;
  background-color: #94a1a0;
  padding: 1px;
  width: max-content;
  font-size: 16px;
  display: none;
}

.boton-agregar:hover .agregar-proyecto-contenedor {
  display: block;
}

.agregar {
  width: 30px;
  height: 30px;
}

/* F - boton de agregar proyecto*/

/* I -Titulo de ultimos proyecots*/
.boton-all {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  position: relative;

}

.boton-all p {
  align-self: center;
  font-size: 19px;
  font-weight: bold;

}

/* F - Titulo de ultimos proyectos*/

.d-flex {
  height: 33px;

}

/* I - Barra de busqueda*/
.d-flex {
  width: 92vw;
}

.bg-light {
  background-color: #f0f0f0 !important;
}

#myBtn {
  padding-right: 10px;
}

.lupa {
  width: 20px;
  height: 20px;
  display: block
}

.btn-primary {
  background-color: white !important;
  /* border: 1px solid #ced4da !important; */
  border: none;
  height: 33px;

}

.form-control {

  border: none;
  border-radius: 0px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  font-size: 12px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.form-control::placeholder {
  color: #bfbfbf;
  font-size: 14px;
}

.form-control:focus {
  box-shadow: none;
  outline: none;
}

/*F - Barra de busqueda*/

.no-scroll {
  overflow: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* I - boton ver todos*/
.view-all {
  color: #772f7c;

}

.ver-todo {
  font-size: 12px;
}

.view-all:hover {
  color: #34f6f2;
  text-decoration: underline;
}

/* F - boton ver todos*/




/* Tablet */
@media (min-width: 481px) {
  .header {
    justify-content: space-evenly;
    gap: 20%;
  }

  .logo {
    margin-left: 40px;
  }

  .usuario-datos {
    align-self: center;
  }

  p {
    font-size: 11px;
  }



  .filtrado {
    margin-left: 2%;
  }

  .card {
    width: 45vw;
    /*   max-width: 235px; */
  }

  .contenido-principal {
    justify-content: center;
    gap: 1%;
  }

  .recomendado-titulo {
    font-size: 16px;
  }

  .d-flex {
    width: 64vw;
    margin: 0 auto;
    min-width: 340px;
  }
}

@media (min-width: 769px) {
  p {
    font-size: 12px;
  }

  .header {
    gap: 25%;
  }



  .card-text {
    font-size: 12px;
  }

  .recomendado-titulo {
    font-size: 18px;
  }

  .d-flex {
    min-width: 485px;
    width: 60vw;
  }
}

@media (min-width: 1025px) {
  .header {
    gap: 0px;
  }

  .recomendado-titulo {
    font-size: 20px;
  }

  .contenido-principal {
    gap: 3%;
  }

  .card-text {
    font-size: 13px;
  }

  .usuario-texto p:first-child {
    font-size: 20px;
  }

  .imagen-usuario {
    width: 34px;
    height: 34px;
  }

  .nivel-icon {
    width: 32px;
    height: 32px;
  }

  .filtrado-precio {
    width: 135px;
  }

  .filtrado-precio p:first-child {
    width: 100%;
  }

  .filtrado-input-precio {
    display: flex;
    justify-content: center;
  }

  .input-precio {
    width: 40%;
  }

  .filtrado-categoria {
    width: 135px;
  }

  .filtrado-categoria p:first-child {
    width: 100%;
  }

  .d-flex {
    width: 62vw;
  }
}