.contenedor-lista {
  border: 2px solid orange;
}

.lista-contactos {
  border: 2px solid red;
}

.contenedor-elemento-lista {
  border: 2px solid blue;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.mail-box {
  border: 2px solid purple;
  flex-basis: 100%;

}