<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet"> 
  <link
    href="https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Karla:wght@200&family=Roboto&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="./css/normalize.css" />
  <link rel="stylesheet" href="./css/index/index.css" />
</head>

<body>
  <header class="header">
    <img class="logo" src="./images/logo-icon.png" alt="Logo" />
    <div class="usuario-datos">
      <div class="usuario-texto">
        <p>Nombre Apellido</p>
        <p class="texto-gris">freelancer</p>
      </div>
      <img class="imagen-usuario" src="./images/usuario-icono.jpg" alt="Imagen Usuario" />
      <img class="nivel-icon" src="./images/level-icon.png" alt="Icono Nivel" />
      <img class="configuracion" src="./images/menu-3-lines-icon.png" alt="icono-config" />
    </div>
  </header>

  <!-- -->
  <div class="recomendados">
    <p class="recomendado-titulo title">RECOMENDADOS PARA TI</p>
    <ul class="lista-recomendados">
      <a style="text-decoration: none; color: black"" href=" #">
        <li class="elemento-lista-recomendados">
          <div>Simulink simscape</div>
          <div class="recomendados-text-requisitos">
            <p>
              I want to design a system that will allow new drivers to do a
              theory test online and get the final results which will be
              approved and enable them to get a driving license
            </p>
            <div class="requisitos-recomendados">
              <p>Diseño web</p>
              <p>Proactividad</p>
            </div>
          </div>
        </li>
      </a>
      <a style="text-decoration: none; color: black"" href=" #">
        <li class="elemento-lista-recomendados">
          <div>Simulink simscape</div>
          <div class="recomendados-text-requisitos">
            <p>
              I want to design a system that will allow new drivers to do a
              theory test online and get the final results which will be
              approved and enable them to get a driving license
            </p>
            <div class="requisitos-recomendados">
              <p>Diseño web</p>
              <p>Proactividad</p>
            </div>
          </div>
        </li>
      </a>
      <a style="text-decoration: none; color: black"" href=" #">
        <li class="elemento-lista-recomendados">
          <div>Simulink simscape</div>
          <div class="recomendados-text-requisitos">
            <p>
              I want to design a system that will allow new drivers to do a
              theory test online and get the final results which will be
              approved and enable them to get a driving license
            </p>
            <div class="requisitos-recomendados">
              <p>Diseño web</p>
              <p>Proactividad</p>
            </div>
          </div>
        </li>
      </a>
      <a style="text-decoration: none; color: black"" href=" #">
        <li class="elemento-lista-recomendados">
          <div>Simulink simscape</div>
          <div class="recomendados-text-requisitos">
            <p>
              I want to design a system that will allow new drivers to do a
              theory test online and get the final results which will be
              approved and enable them to get a driving license
            </p>
            <div class="requisitos-recomendados">
              <p>Diseño web</p>
              <p>Proactividad</p>
            </div>
          </div>
        </li>
      </a>
      <a style="text-decoration: none; color: black"" href=" #">
        <li class="elemento-lista-recomendados">
          <div>Simulink simscape</div>
          <div class="recomendados-text-requisitos">
            <p>
              I want to design a system that will allow new drivers to do a
              theory test online and get the final results which will be
              approved and enable them to get a driving license
            </p>
            <div class="requisitos-recomendados">
              <p>Diseño web</p>
              <p>Proactividad</p>
            </div>
          </div>
        </li>
      </a>
      <a style="text-decoration: none; color: black"" href=" #">
        <li class="elemento-lista-recomendados">
          <div>Simulink simscape</div>
          <div class="recomendados-text-requisitos">
            <p>
              I want to design a system that will allow new drivers to do a
              theory test online and get the final results which will be
              approved and enable them to get a driving license
            </p>
            <div class="requisitos-recomendados">
              <p>Diseño web</p>
              <p>Proactividad</p>
            </div>
          </div>
        </li>
      </a>
    </ul>
  </div>
  <!--  -->


  <div class="contenido-principal">
    <div class="filtrado">
      <div class="filtrado-precio">
        <p>Precio</p>
        <div>
          <form class="filtrado-input-precio" action="/filtrado-precio">
            <input class="input-precio" placeholder="$ mín" type="text" name="precioMin" />
            <p>-</p>
            <input class="input-precio" placeholder="$ máx" type="text" name="precioMax" />
          </form>
        </div>
      </div>
      <div class="filtrado-categoria">
        <p>Categorías</p>
        <div>
          <form class="filtrado-checkbox-categoria categoria-scroll" action="/filtrado-categoria">
            <div class="label-checkbox">
              <input type="checkbox" name="categoria" value="disenio" />
              <label for="disenio">Diseño</label>
            </div>
            <div class="label-checkbox">
              <input type="checkbox" name="categoria" value="web" />
              <label for="web">Web</label>
            </div>
            <div class="label-checkbox">
              <input type="checkbox" name="categoria" value="bd" />
              <label for="bd">Base de datos</label>
            </div>
            <div class="label-checkbox">
              <input type="checkbox" name="categoria" value="backend" />
              <label for="backend">Backend</label>
            </div>
            <div class="label-checkbox">
              <input type="checkbox" name="categoria" value="frontend" />
              <label for="frontend">Frontend</label>
            </div>
            <div class="label-checkbox">
              <input type="checkbox" name="categoria" value="seguridad" />
              <label for="seguridad">Seguridad</label>
            </div>
            <div class="label-checkbox">
              <input type="checkbox" name="categoria" value="soporte" />
              <label for="soporte">Soporte</label>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="buscador-buscados">
      <div class="input-group mb-3 boton-buscar">
        <input type="text" class="form-control input-buscar" placeholder=" Buscar proyectos"
          aria-label="Recipient's username" aria-describedby="button-addon2" />
        <div class="ordenar">
          <p>Ordenar por</p>
          <select class="ordenar-opciones" name="ordenar" id="ordenar">
            <option value="relevantes">más relevantes</option>
            <option value="menorPrecio">menor precio</option>
            <option value="mayorPrecio">mayor precio</option>
          </select>
        </div>
      </div>
      <ul class="lista-buscados">
        <a style="text-decoration: none; color: black"" href=" #">
          <li class="elemento-lista-buscados">
            <div>Simulink simscape</div>
            <p>
              I want to design a system that will allow new drivers to do a
              theory test online and get the final results which will be
              approved and enable them to get a driving license
            </p>
            <div class="requisitos">
              <p>Requisitos</p>
              <div>
                <p>Diseño web</p>
                <p>Proactividad</p>
              </div>
            </div>
          </li>
        </a>
        <a style="text-decoration: none; color: black" href="#">
          <li class="elemento-lista-buscados">
            <div>Simulink simscape</div>
            <p>
              I want to design a system that will allow new drivers to do a
              theory test online and get the final results which will be
              approved and enable them to get a driving license
            </p>
            <div class="requisitos">
              <p>Requisitos</p>
              <div>
                <p>Diseño web</p>
                <p>Proactividad</p>
              </div>
            </div>
          </li>
        </a>
        <a style="text-decoration: none; color: black"" href="">
            <li class=" elemento-lista-buscados">
          <div>Simulink simscape</div>
          <p>
            I want to design a system that will allow new drivers to do a
            theory test online and get the final results which will be
            approved and enable them to get a driving license
          </p>
          <div class="requisitos">
            <p>Requisitos</p>
            <div>
              <p>Diseño web</p>
              <p>Proactividad</p>
            </div>
          </div>
          </li>
        </a>
      </ul>
    </div>
  </div>
</body>

</html>