/* - Gris oscuro (textos): #4a4a4a
- Blanco (fondo): #ffffff
- Gris claro (fondo): #f0f0f0
- Íconos: #1c3f7f
- Azul: #3a7fff
- Verde: #16c153 */

* {
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
}

.title {
  color: black;
  font-weight: bold;
}

.paragraph {
  font-weight: 400;
  font-size: 0.7rem;
}

.tags {
  color: white;
  background-color: #3a7fff;
  border-radius: 6px;
  padding: 4px;
}

.checkbox-text {
  font-weight: 500;
  font-size: 0.8rem;
}
