* {
  margin: 0;
  font-family: "BhuTuka Expanded One", cursive;
  font-family: "Karla", sans-serif;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: hsl(200, 17%, 55%);
}

p {
  margin: 0;
  font-size: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #e6ebe0;
  align-items: center;
}

.logo {
  width: 100%;
  margin-left: 15px;
}

.link-logo {
  width: 100%;
  max-width: 100px;
}

.configuracion {
  height: 22px;
  margin-top: 2px;
}

.usuario-datos {
  display: flex;
  margin-top: 10px;
  gap: 5px;
  margin-right: 5px;
}

.usuario-texto {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.usuario-texto p:first-child {
  font-weight: bold;
  font-size: 14px;
}

.imagen-usuario {
  height: 30px;
  width: 30px;
}

.nivel-icon {
  height: 27px;
  width: 27px;
}

.hipervinculo {
  text-decoration: none;
  color: black;
}

.hipervinculo:hover {
  color: black;
}

.dropdown-menu {
  background-color: #e6ebe0;
}

.dropdown-item a {
  color: black;
}

.config-icon {
  width: 15px;
  height: 15px;
  margin-bottom: 1px;
}

.opciones-desplegable {
  display: flex;
  gap: 6px;
}

.texto-gris {
  color: gray;
  font-size: 14px;
}

/* recomendados */
.recomendados {
  display: flex;
  flex-direction: column;
}

.recomendado-titulo {
  padding: 5px;
  text-align: center;
  background-color: #425158;
  font-size: 14px;
  color: white;
}

.lista-recomendados {
  display: flex;
  list-style: none;
  font-size: 10px;
  padding: 5px;
  gap: 8px;
  overflow-x: scroll;
  /* height: 130px; */
}

.requisitos-recomendados {
  display: flex;
  font-size: 9px;
  gap: 5px;
  padding: 3px;
  align-items: center;
}

.requisitos-recomendados p {
  background-color: #3a7fff;
  border-radius: 10px;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  color: #ffffff;
  margin-bottom: 0px;
}

.contenido-principal {
  display: flex;
  margin-top: 15px;
}

.buscador-buscados {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 5px;
  gap: 5px;
}

.d-flex {
  width: 92vw;
}
/* filtrado */

.filtrado {
  margin-top: 10px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 30px;
  margin-left: 5px;
}

/* filtrado precio */
.filtrado-precio {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 120px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #c0fdfb;
  align-items: center;
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.filtrado-precio p:first-child {
  background-color: #64b6ac;
  width: 95px;
  text-align: center;
  font-weight: bold;
}

.input-precio {
  width: 43px;
  height: 20px;
  font-size: 12px;
}

.filtrado-precio p {
  margin-left: 3px;
  margin-right: 3px;
}

.filtrado-input-precio {
  display: flex;
}

/* filtrado categoría */
.filtrado-categoria {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-right: 10px;
  width: 120px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #c0fdfb;
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.filtrado-categoria p {
  align-self: center;
  margin-left: 3px;
  margin-right: 3px;
}

.filtrado-categoria p:first-child {
  background-color: #64b6ac;
  width: 95px;
  text-align: center;
  font-weight: bold;
}

.filtrado-checkbox-categoria {
  display: flex;
  flex-direction: column;
}

.categoria-scroll {
  height: 88px;
  width: 120px;
  overflow-y: scroll;
  margin-left: 3px;
}

.label-checkbox {
  display: flex;
  gap: 3px;
}

.label-checkbox input {
  margin-top: 1.7px;
}

.tarjeta {
  display: flex;
  gap: 5px;
}

.card {
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
  /* box-shadow: 0px 0px 10px rgb(44, 150, 127); */
}

.card-header {
  font-size: 12px;
  font-weight: bold;
  background-color: #64b6ac;
  text-align: center;
}

.card-text {
  font-size: 10px;
  margin: 0;
}

.price {
  color: #41b141;
  font-weight: bold;
  font-size: 14px;
}

.boton-cancel {
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.boton-desplegable::after {
  display: none;
}

.boton-desplegable:hover {
  background-color: hsl(200, 15%, 33%);
}

.boton-desplegable {
  background-color: #5d737e;
}

.lupa {
  width: 22px;
  height: 22px;
}

.btn-primary {
  background-color: white !important;
  /* border: 1px solid #ced4da !important; */
  border: none;
  height: 33px;
}

#myBtn {
  padding-right: 10px;
}

.form-control {
  border: none;
  border-radius: 0px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  font-size: 12px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.form-control::placeholder {
  color: #bfbfbf;
  font-size: 14px;
}

.form-control:focus {
  box-shadow: none;
  outline: none;
}

.btn {
  padding: 0.2rem 0.35rem;
  border-radius: 0px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.card-body {
  padding: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #c0fdfb;
  gap: 5px;
}

.fecha-horario {
  display: flex;
  justify-content: space-between;
}

.tarjeta-buscados {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.view-all {
  color: #772f7c;
}

.view-all:hover {
  color: #34f6f2;
  text-decoration: underline;
}

.boton-all {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.boton-all p {
  align-self: center;
  font-size: 1px;
  font-weight: bold;
}

.d-flex {
  height: 33px;
}

.bg-light {
  background-color: #e6ebe0 !important;
}

.no-scroll {
  overflow: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 13%;
  margin-bottom: 10px;
}

.margin-footer-quien {
  margin-right: 3px;
}

.footer p {
  min-width: 60px;
  text-align: center;
}

.footer p {
  font-weight: bold;
  font-size: 12px;
}

.ver-todo {
  font-size: 12px;
}

/* Tablet */
@media (min-width: 481px) {
  .header {
    justify-content: space-evenly;
    gap: 20%;
  }

  .logo {
    margin-left: 40px;
  }

  .usuario-datos {
    align-self: center;
  }

  p {
    font-size: 11px;
  }

  .card-text {
    font-size: 11px;
  }

  .filtrado {
    margin-left: 2%;
  }

  .card {
    width: 45vw;
    /*   max-width: 235px; */
  }

  .contenido-principal {
    justify-content: center;
    gap: 1%;
  }

  .recomendado-titulo {
    font-size: 16px;
  }

  .d-flex {
    width: 64vw;
    margin: 0 auto;
    min-width: 340px;
  }
}

@media (min-width: 769px) {
  p {
    font-size: 12px;
  }

  .header {
    gap: 25%;
  }

  .card-header {
    font-size: 13px;
  }

  .card-text {
    font-size: 12px;
  }

  .recomendado-titulo {
    font-size: 18px;
  }

  .d-flex {
    min-width: 485px;
    width: 60vw;
  }
}

@media (min-width: 1025px) {
  .header {
    gap: 0px;
  }

  .recomendado-titulo {
    font-size: 20px;
  }

  .contenido-principal {
    gap: 3%;
  }

  .card-text {
    font-size: 13px;
  }

  .usuario-texto p:first-child {
    font-size: 20px;
  }

  .imagen-usuario {
    width: 34px;
    height: 34px;
  }

  .nivel-icon {
    width: 32px;
    height: 32px;
  }

  .filtrado-precio {
    width: 135px;
  }

  .filtrado-precio p:first-child {
    width: 100%;
  }

  .filtrado-input-precio {
    display: flex;
    justify-content: center;
  }

  .input-precio {
    width: 40%;
  }

  .filtrado-categoria {
    width: 135px;
  }

  .filtrado-categoria p:first-child {
    width: 100%;
  }

  .d-flex {
    width: 62vw;
  }
}
