.contenedor-lista {
  display: flex;
  justify-content: flex-start;


  /* border: 2px solid orange; */
}

.lista-contactos {
  list-style: none;
  padding: 0;
  width: 100%;
}

.imagen-usuario {
  width: 25px;
  height: 25px;
}

.elemento-lista {
  background-color: rgb(138 145 177 / 44%);
  border: 0.5px solid rgb(44, 43, 43);
}

.contacto {
  text-decoration: none;
  color: black;
}

.hipervinculo:hover {
  color: black;
}

.footer {
  /*  position: absolute; */
  /*BEL - Se lo saque porque me tapaba todo el contenido hay que corregir esto*/

  top: 0;
  left: 0;
  right: 0;
  bottom: -80%;
}

body {
  position: relative;
}