.main-register {
  width: 90vw;
  margin: auto;
}
.main-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-info {
  font-size: larger;
  text-align: center;
  padding: 6px;
  margin-top: 14px;
  margin-bottom: 14px;
}
.info-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  margin: auto;
  margin-top: 16px;
}
.info {
  font-size: larger;
  text-align: center;
  padding: 6px;
  margin-top: 14px;
  margin-bottom: 14px;
}
.input-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.input-label {
  width: 100%;
  text-align: center;
  padding: 6px;
  display: none;
}
.input-text {
  width: 100%;
  padding: 6px;
  border-radius: 6px;
  border: none;
  margin-top: 14px;
  margin-bottom: 14px;
}
.input-button {
  width: 100%;
  padding: 6px;
  border-radius: 6px;
  border: none;
  margin-top: 14px;
  margin-bottom: 14px;
  background-color: #3a7fff;
  color: #ffffff;
}
.remember-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.remember-checkbox {
  margin: 2px;
}

.remember-label {
  margin: 2px;
}
