.hidden {
  display: none;
}
.main-form {
  display: flex;
  flex-direction: column;
  width: 60vw;
  margin: auto;
  margin-top: 10px;
}
.register-section {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}
.register-section input {
  margin-top: 6px;
  margin-bottom: 6px;
}

.form-info {
  font-size: large;
  text-align: center;
}
hr.solid {
  border-top: 3px solid #bbb;
}
