<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bidding-Deatail</title>
  <%- include('./partials/head') %>
    <!-- Espacio para estilos de esta pantalla-->
    <link rel="stylesheet" href="./css/bidding-detail/bidding-detail.css" />

</head>

<body>


  <header class="header">
    <%- include('./partials/header') %>

  </header>

  <main>
  <h1>{$product->business-name}</h1>

  <div class="product-block">
    <img class="productImage" src="./images/perfil-bussines.jpeg" width="150">
  </div>

  <div class="product-block">
    <hr>
    <div class="product-info">
      <h6>{{product->description}} Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua.</h6>
      <p>Pago: Lorem ipsum. </p>
      <p>Metodologia de Trabajo: Lorem ipsum dolor sit amet. </p>
      <p> <a href="#">Agregar a favoritos</a></p>
      <p> <a href="{{route('actually')}}">Compartir</a></p>
      <form action="" metodh="post">
        <div class="seccion1">
          <div class="elemento">
            <label for="mensaje"></label>
            <input class="input" type="text" id="mensaje" name="mensaje" placeholder="Escribir Mensaje">
            <input type="submit" value="enviar" id="boton">
      </form>
    </div>
  </div>

  <p><a href="/">Regresar</a></p>
</main>

</body>

</html>