<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Configuracion</title>
        <!-- Espacio para estilos de esta pantalla-->
        <link rel="stylesheet" href="./root.html">
        <link rel="stylesheet" href="./css/index/index.css" />
        <link rel="stylesheet" href="./css/index/config.css" />

</head>

<body>
    <header class="header">
        <%- include('./partials/header') %>
    </header>
    <div class="contenido-datos">
        <div class="editable">
            <div class="contenido-header">
                <img class="imagen-usuario-config" src="./images/fotos-usuarios/yo.jpg" alt="foto-usuario">
                <div class="editar-contenedor">
                    <img class="camara" src="./images/camara.png" alt="camara">
                    <img onclick="editarPerfilDatos()" class="lapiz" src="./images/lapiz.png" alt="lápiz">
                </div>
            </div>
            <div class="contenedor-datos-usuario">
                <p class="datos-usuario">Juan Quiroga</p>
                <p class="datos-usuario username">@Juan_Quiroga</p>
            </div>
        </div>
        <div class="contenedor-promedio-reviews">
            <div class="contenedor-estrella">
                <img class="estrella" src="./images/estrella.png" alt="estrella">
                <p>4.8</p>
            </div>
            <p>(5000 reviews)</p>
        </div>
        <div class="pais">
            <img class="bandera" src="./images/fotos-banderas/argentina.png" alt="">
            <p>Argentina</p>
        </div>
        <div class="contenedor-porcentajes">
            <div class="contenedor-porcentaje-dentro">
                <p class="porcentaje">100%</p>
                <p>Trabajos completos</p>
            </div>
            <div class="contenedor-porcentaje-dentro">
                <p class="porcentaje">100%</p>
                <p>En tiempo</p>
            </div>
            <div class="contenedor-porcentaje-dentro">
                <p class=" porcentaje">20%</p>
                <p>Recontrataciones</p>
            </div>
        </div>
        <div class="contenedor-descripcion">
            <div class="contenedor-header-descripcion">
                <p>Descripción</p>
                <div class="editar-contenedor">
                    <img class="camara descripcion" src="./images/basura.png" alt="camara">
                    <img onclick="editarPerfilDescripcion()" class="lapiz descripcion " src="./images/lapiz.png"
                        alt="lápiz">
                </div>
            </div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente recusandae dolores suscipit
                officiis
                pariatur rem dolore velit fuga! Autem ducimus maiores minus sunt ullam blanditiis voluptates eos,
                laborum similique ad.</div>
        </div>
        <div class="contenedor-portafolio">
            <div class="contenedor-header-descripcion">
                <p>Portafolio</p>
            </div>
            <div class="contenedor-elementos-portafolio">
                <div class="elemento-portafolio">
                    <img class="portafolio-imagen" src="./images/fotos-portafolio/1.jpg" alt="foto1">
                    <div class="editar-contenedor item">
                        <img class="camara descripcion" src="./images/basura.png" alt="camara">
                        <img class="lapiz descripcion " src="./images/lapiz.png" alt="lápiz">
                    </div>
                    <div class="titulo-portafolio">
                        <div class="item-portafolio-contenedor">
                            <p>Título item portafolio</p>
                        </div>
                    </div>
                </div>
                <div class="elemento-portafolio">
                    <img class="portafolio-imagen" src="./images/fotos-portafolio/2.jpg" alt="foto2">
                    <div class="editar-contenedor item">
                        <img class="camara descripcion" src="./images/basura.png" alt="camara">
                        <img class="lapiz descripcion " src="./images/lapiz.png" alt="lápiz">
                    </div>
                    <div class="titulo-portafolio">
                        <div class="item-portafolio-contenedor">
                            <p>Título item portafolio</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contenedor-reseñas">
            <p id="reseña-seccion">Reseñas</p>

            <div class="contenedor-elemento-reseña">
                <div class="reseña-header">
                    <div>
                        <img class="estrella" src="./images/estrella.png" alt="estrella">
                        <img class="estrella" src="./images/estrella.png" alt="estrella">
                        <img class="estrella" src="./images/estrella.png" alt="estrella">
                        <img class="estrella" src="./images/estrella.png" alt="estrella">
                    </div>
                    <p>Precio del proyecto</p>
                </div>
                <div class="datos-reseña">
                    <p class="titulo-reseña">Título reseña</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel perspiciatis quod quis porro labore
                        sint, exercitationem debitis dolore natus? Numquam voluptatibus tempore harum maxime asperiores.
                        Minima officiis magni facere totam?</p>
                    <div class="autor-reseña">
                        <img class="bandera" src="./images/fotos-banderas/argentina.png" alt="">
                        <p>Joaquín Pérez</p>
                    </div>
                </div>
            </div>
            <div class="contenedor-elemento-reseña">
                <div class="reseña-header">
                    <div>
                        <img class="estrella" src="./images/estrella.png" alt="estrella">
                        <img class="estrella" src="./images/estrella.png" alt="estrella">
                        <img class="estrella" src="./images/estrella.png" alt="estrella">
                    </div>
                    <p>Precio del proyecto</p>
                </div>
            </div>
            <div class="datos-reseña">
                <p class="titulo-reseña">Título reseña</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut quasi minima quaerat, iusto quidem
                    earum itaque, dicta minus dolor, molestias inventore laborum? Expedita distinctio aliquam modi
                    numquam neque. Nam, laborum.</p>
                <div class="autor-reseña">
                    <img class="bandera" src="./images/fotos-banderas/chile.png" alt="">
                    <p>Laura Giménez</p>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <%- include('./partials/footer') %>
    </footer>
<<<<<<< HEAD
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script> -->
    <script src="./js/config.js"></script>
=======
    <!-- Lo comento porque hace que no funcione el menu  BEL  
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
    <script src="./js/config.js"></script> -->
>>>>>>> 9360f9e985e4a5e1e0e7a88e58d8e1fbd297d9ff
</body>

</html>