<!DOCTYPE html>
<html lang="en">

<head>
  <title>Login</title>
  <%- include('./partials/head') %>
    <!-- espacio para estilos -->
    <link rel="stylesheet" href="./css/normalize.css" />
    <link rel="stylesheet" href="./css/register&login/theme.css" />
    <link rel="stylesheet" href="./css/register&login/register-and-login.css" />
    <link rel="stylesheet" href="./css/register&login/breakpoints.css" />

</head>

<body>
  <header class="header">
    <img class="logo" src="./images/logo-icon.png" alt="Logo" />
    <div class="usuario-datos">
      <img class="configuracion" src="./images/config-icon.svg" alt="icono-config" />
    </div>
  </header>
  <main class="main-register">
    <form action="/views/index.html" method="get" class="main-form">
      <h2 class="form-info">Ingresar a la página</h2>
      <div class="register-section">
        <div class="input-div">
          <label class="input-label" for="user-email ">Ingresá tu email</label>
          <input class="input-text" type="email" name="user-email" id="user-email" placeholder="Email" required />
        </div>

        <div class="input-div">
          <label class="input-label" for="user-password">Ingresá tu contraseña</label>
          <input class="input-text" type="password" name="user-password" id="user-password" placeholder="Contraseña"
            required />
        </div>
        <div class="remember-div">
          <input class="remember-checkbox" type="checkbox" checked="checked" name="remember" id="remember" />
          <label class="remember-label" for="remember">Recordar mi contraseña</label>
        </div>
        <div class="input-div">
          <input class="input-button" type="submit" value="Ingresar" />
        </div>
      </div>
    </form>
  </main>
  <footer class="footer">
    <ul class="footer-bar">
      <li><a href="">Contacto</a></li>
      <li><a href="">Términos y Condiciónes</a></li>
      <li><a href="">Ayuda</a></li>
    </ul>
    <div>
      <p>Copyright, Lorem ipsum dolor sit amet.</p>
    </div>
    <div>
      <p>Dirección, Lorem, ipsum.</p>
    </div>
  </footer>
</body>

</html>