<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <%- include('./partials/head') %>

    <!-- Espacio para estilos de esta pantalla-->
    <link rel="stylesheet" href="./css/index/index.css" />
    <link rel="stylesheet" href="./css/register&login/theme.css" />
    <link rel="stylesheet" href="./css/register&login/register-and-login.css" />
    <link rel="stylesheet" href="./css/register&login/breakpoints.css" />
  </head>

  <body>
    <header class="header"><%- include('./partials/header') %></header>
    <main class="main-register">
      <form action="/views/index.html" method="get" class="main-form">
        <h2 class="form-info">Ingresar a la página</h2>
        <div class="register-section">
          <div class="input-div">
            <label class="input-label" for="user-email ">Ingresá tu email</label>
            <input class="input-text" type="email" name="user-email" id="user-email" placeholder="Email" required />
          </div>

          <div class="input-div">
            <label class="input-label" for="user-password">Ingresá tu contraseña</label>
            <input class="input-text" type="password" name="user-password" id="user-password" placeholder="Contraseña" required />
          </div>
          <div class="remember-div">
            <input class="remember-checkbox" type="checkbox" checked="checked" name="remember" id="remember" />
            <label class="remember-label" for="remember">Recordar mi contraseña</label>
          </div>
          <div class="input-div">
            <input class="input-button" type="submit" value="Ingresar" />
          </div>
        </div>
      </form>
      <div class="info-div">
        <h2 class="info">Todavía no tenés cuenta?</h2>
        <label class="input-label" for="crear-cuenta">Crea tu cuenta</label>
        <a href="/register"><button class="input-button" name="crear-cuenta">Crear cuenta</button> </a>
      </div>
    </main>
    <footer class="footer"><%- include('./partials/footer') %></footer>
  </body>
</html>
