<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mail Box</title>
    <%- include('./partials/head') %>
    <!-- Espacio para estilos de esta pantalla-->
        <link rel="stylesheet" href="./root.html">
        <link rel="stylesheet" href="./css/index/index.css" />
        <link rel="stylesheet" href="./css/index/mailbox.css" />
</head>

<body>
    <header class="header">
        <a href="/" class="link-logo"><img class="logo" src="./images/logo-icon.png" alt="Logo" /></a>
        <div class="usuario-datos">
            <div class="usuario-texto">
                <p>Nombre Apellido</p>
                <p class="texto-gris">freelancer</p>
            </div>
            <img class="imagen-usuario" src="./images/usuario-icono.jpg" alt="Imagen Usuario" />
            <img class="nivel-icon" src="./images/level-icon.png" alt="Icono Nivel" />
            <div class="dropdown">
                <img class="configuracion btn btn-secondary dropdown-toggle boton-desplegable"
                    src="./images/config-icon.svg" alt="icono-config" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" />
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li>
                        <div class="dropdown-item opciones-desplegable">
                            <a class="hipervinculo" href="portfolio">Mi portafolio</a>
                            <a href="portfolio"><i class="fa-solid fa-book"></i></a>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown-item opciones-desplegable">
                            <a class="hipervinculo" href="mailbox">Buzón</a>
                            <a href="mailbox"><img class="config-icon" src="./images/buzon.png" alt="buzón"></i></a>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown-item opciones-desplegable">
                            <a class="hipervinculo" href="config">Configurar cuenta</a>
                            <a href="config"><img class="config-icon" src="./images/config.png"
                                    alt="configuración"></i></a>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown-item opciones-desplegable">
                            <a class="hipervinculo" href="login">Cerrar sesión</a>
                            <a href="login"><i class="fa-solid fa-right-from-bracket"></i></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div class="contenedor-lista">
        <ul class="lista-contactos">
            <a class="hipervinculo" href="#">
                <li class="elemento-lista">
                    <img class="imagen-usuario" src="./images/usuario-icono.jpg" alt="Imagen Usuario" />
                    <a class="contacto" href="#">Nombre Apellido</a>
                </li>
            </a>
            <a class="hipervinculo" href="#">
                <li class="elemento-lista">
                    <img class="imagen-usuario" src="./images/usuario-icono.jpg" alt="Imagen Usuario" />
                    <a class="contacto" href="#">Nombre Apellido</a>
                </li>
            </a>
            <a class="hipervinculo" href="#">
                <li class="elemento-lista">
                    <img class="imagen-usuario" src="./images/usuario-icono.jpg" alt="Imagen Usuario" />
                    <a class="contacto" href="#">Nombre Apellido</a>
                </li>
            </a>
            <a class="hipervinculo" href="#">
                <li class="elemento-lista">
                    <img class="imagen-usuario" src="./images/usuario-icono.jpg" alt="Imagen Usuario" />
                    <a class="contacto" href="#">Nombre Apellido</a>
                </li>
            </a>
            <a class="hipervinculo" href="#">
                <li class="elemento-lista">
                    <img class="imagen-usuario" src="./images/usuario-icono.jpg" alt="Imagen Usuario" />
                    <a class="contacto" href="#">Nombre Apellido</a>
                </li>
            </a>
        </ul>
    </div>
    <footer class="footer">
        <img class="nivel-icon" src="./images/copyright-icon.png" alt="copyright">
        <p>Soporte</p>
        <p class="margin-footer-quien">¿Quiénes somos? </p>
        <p>Política de privacidad</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
        </script>
</body>

</html>