<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Propuesta</title>
    <%- include('./partials/head') %>
    <!-- Espacio para estilos de esta pantalla-->
    <link rel="stylesheet" href="./css/proposal-list/theme.css" />
   
  </head>
  <body>
    <header class="header">
      <img class="logo" src="./images/logo-icon.png" alt="Logo" />
      <div class="usuario-datos">
        <img class="configuracion" src="./images/config-icon.svg" alt="icono-config" />
      </div>
    </header>
    <main class="main-register">
      <section>
        <h2 style="font-size: 24px; margin-top: 10px;">Confirmar propuestas</h2>
      </section>
      <form action="">
        <div class="tarjeta-buscados">
          <div class="card-buscados">
            <h5 class="card-header">Simulink Scape</h5>
            <div class="card-body">
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <div class="requisitos-recomendados p">
                <p>Diseño web</p>
                <p>Proactividad</p>
              </div>
            </div>
            <button class="button-primary button-blue" type="submit">contactarse</button>
            <button class="button-primary button-blue" type="submit">contratar</button>
          </div>
          <div class="card-buscados">
            <h5 class="card-header">Simulink Scape</h5>
            <div class="card-body">
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <div class="requisitos-recomendados p">
                <p>Diseño web</p>
                <p>Proactividad</p>
              </div>
              <button class="button-primary button-blue" type="submit">contactarse</button>
              <button class="button-primary button-blue" type="submit">contratar</button>
            </div>
          </div>
          <div class="card-buscados">
            <h5 class="card-header">Simulink Scape</h5>
            <div class="card-body">
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <div class="requisitos-recomendados p">
                <p>Diseño web</p>
                <p>Proactividad</p>
              </div>
              <button class="button-primary button-blue" type="submit">contactarse</button>
              <button class="button-primary button-blue" type="submit">contratar</button>
            </div>
          </div>
          <div class="card-buscados">
            <h5 class="card-header">Simulink Scape</h5>
            <div class="card-body">
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <div class="requisitos-recomendados p">
                <p>Diseño web</p>
                <p>Proactividad</p>
              </div>
              <button class="button-primary button-blue" type="submit">contactarse</button>
              <button class="button-primary button-blue" type="submit">contratar</button>
            </div>
          </div>
        </div>
      </form>
      
    </main>
    <footer class="footer">
      <ul class="footer-bar">
        <li><a href="">Contacto</a></li>
        <li><a href="">Términos y Condiciónes</a></li>
        <li><a href="">Ayuda</a></li>
      </ul>
      <div>
        <p>Copyright, Lorem ipsum dolor sit amet.</p>
      </div>
      <div>
        <p>Dirección, Lorem, ipsum.</p>
      </div>
    </footer>
  </body>
</html>
