<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Proyects creation</title>
    <%- include('./partials/head') %>
    <!-- Espacio para estilos de esta pantalla-->
    <!--
    <link rel="stylesheet" href="/css/index/index.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" /> -->
    <!-- <link rel="stylesheet" href="/css/bidding-detail/bidding-creation.css" /> -->
  </head>

  <body>
    <header class="header"><%- include('./partials/header') %></header>

    <div class="contenido">
      <form action="/bidding-list" method="POST">
        <div class="item-form">
          <label for="titulo">Ingrese un título</label>
          <input class="input-small" type="text" name="titulo" id="titulo" />
        </div>
        <div class="item-form descrip">
          <label for="descripcion">Describa su proyecto</label>
          <textarea class="input" name="descripcion" id="descripcion" cols="30" rows="10"></textarea>
        </div>
        <div class="item-form prec">
          <label for="precio">Precio</label>
          <input class="input-small" type="text" name="precio" id="precio" />
        </div>
        <div class="item-form">
          <label for="categorias">Seleccione las categorías</label>
        </div>
        <div class="categorias-check">
          <div class="checkbox-item">
            <label class="label-checkbox" for="categorias">Base de datos</label>
            <input class="checkbox" type="checkbox" name="categoria" value="baseDatos" />
          </div>
          <div class="checkbox-item">
            <label class="label-checkbox" for="categorias">Web</label>
            <input class="checkbox" type="checkbox" name="categoria" value="web" />
          </div>
          <div class="checkbox-item">
            <label class="label-checkbox" for="categorias">Backend</label>
            <input class="checkbox" type="checkbox" name="categoria" value="backend" />
          </div>
          <div class="checkbox-item">
            <label class="label-checkbox" for="categorias">Frontend</label>
            <input class="checkbox" type="checkbox" name="categoria" value="frontend" />
          </div>
          <div class="checkbox-item">
            <label class="label-checkbox" for="categorias">Backend</label>
            <input class="checkbox" type="checkbox" name="categoria" value="frontend" />
          </div>
        </div>
        <div class="botones">
          <button class="guardar-boton" type="submit">Crear proyecto</button>
          <button class="boton-cancelar" type="cancel">Cancelar</button>
        </div>
      </form>
    </div>

    <footer class="footer"><%- include('./partials/footer') %></footer>
  </body>
</html>
