.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #f0f0f0;
  }

  .tarjeta-buscados {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-right: 7px;
  }
  
.card-buscados {
    /*   width: 70vw; */
  }

  .card-header {
    font-size: 12px;
    font-weight: bold;
    background-color: #64b6ac;
    text-align: center;
  }

  .card-body {
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #c0fdfb;
  }
  .card-text {
    font-size: 10px;
    margin: 0;
  }
  .requisitos-recomendados {
    display: flex;
    font-size: 9px;
    gap: 5px;
    padding: 3px;
  }
  .requisitos-recomendados p {
    background-color: #3a7fff;
    border-radius: 10px;
    padding: 3px;
    color: #ffffff;
    margin-bottom: 0px;
  }
  .button-primary {
    background-color: #3a7fff;
    color: white;
    width: 100%;
    display: block;
    font-size: 12px;
}
.button-blue{
    border-radius: 10px;
    padding: 3px;
    margin-bottom: 2px;
}