<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Proyect-edition</title>
    <%- include('./partials/head') %>
    <!-- Espacio para estilos de esta pantalla-->
    <link rel="stylesheet" href="/css/index/index.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/bidding-detail/bidding-creation.css" />
  </head>

  <body>
    <header class="header"><%- include('./partials/header') %></header>

    <button class="boton-boton">
      <a class="ver-todo hipervinculo view-all" href="/proyect/proposals"
        >Volver</a
      >
    </button>

    <footer class="footer"><%- include('./partials/footer') %></footer>
  </body>
</html>
